*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100vw;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}
